<div class="panel panel-default">
  <!-- <div class="panel-heading">{{ element.name }}</div> -->
  <div class="panel-heading" #heading>{{ name }}</div>
  <div class="panel-body">
    <!-- ng-content: project content from the parent component into the child component's template-->
    <ng-content></ng-content>
  </div>
</div>
