<div class="container">
  <!-- listen to event -->
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">
        Change First Element
      </button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">
        Destroy First Element
      </button>
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
        [name]="serverElement.name"
      >
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{
            serverElement.content
          }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{
            serverElement.content
          }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
<!-- This code is an example of event binding in Angular. Here's a breakdown:

(serverCreated)="onServerAdded($event)": This binds the serverCreated event emitted by the app-cockpit component to the onServerAdded method in the parent component. When the serverCreated event is emitted from the app-cockpit component, Angular calls the onServerAdded method in the parent component (AppComponent in this case) and passes the emitted event data ($event) as an argument.

(blueprintCreated)="onBlueprintAdded($event)": Similarly, this binds the blueprintCreated event emitted by the app-cockpit component to the onBlueprintAdded method in the parent component. When the blueprintCreated event is emitted, Angular calls the onBlueprintAdded method in the parent component and passes the emitted event data as an argument.

In summary, this code sets up event listeners in the parent component (AppComponent) to listen for events emitted by the app-cockpit component and handle them appropriately by calling the corresponding methods (onServerAdded and onBlueprintAdded) with the event data. -->
